body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 4px;
}

.center{
    position: absolute;
    text-align: center;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.circle{
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: 175px;
    left: 115px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

#c2{
    left: 175px;
}

#c3{
    left: 235px;
}

.active{
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: brown;
    top: 180px;
    left: 120px;
    transition: all 1s ease;
}

#check-1:checked ~ .active{
    transform: translatex(0px);
}

#check-2:checked ~ .active{
    transform: translatex(60px);
}
#check-3:checked ~ .active{
    transform: translatex(120px);
}


.bg{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
    background-color: #3498db;
    border-left: 400px solid #9b59b6;
    border-right: 400px solid #1abc9c;
    transform: translatex(0);
    transition: all 1s ease;
}

#check-1:checked ~ .bg{
    transform: translatex(0px);
}
#check-2:checked ~ .bg{
    transform: translatex(-400px);
}
#check-3:checked ~ .bg{
    transform: translatex(-800px);
}